.wrapper {
  text-decoration: none;
  color: #000;
}
.wrapper:hover {
  text-decoration: none;
  color: #000;
}

.content {
  background: #fff;
  border-radius: 10px;
  padding: 14px 0px;
  height: 260px;
  position: relative;
  border: 1px solid #fff;
}

.content:hover {
  border: 1px solid #1250dc;
  transition: 0.3s ease-in;
}

.content_discount {
  position: absolute;
  content: "";
  display: block;
  top: 8px;
  width: 50px;
}
.content_discount > div {
  width: 100%;
}

.content_img {
  height: 128px;
  width: 128px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.header_text {
  max-width: 140px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.header_discount {
  margin-top: 14px;
  color: #1250dc;
  font-weight: 600;
  font-size: 14px;
}

.header_price {
  font-size: 12px;

  margin-top: 4px;
  font-weight: 400;
}

/* product detail */

.add_to_cart {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  padding: 26px;
  width: 49%;
  background-color: #1958de;
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
}
.buy_now {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  padding: 26px;
  width: 49%;
  background-color: #eaeffa;
  color: #1958de;
  border-radius: 30px;
  font-weight: 500;
}

.custom_wf > div {
  width: 100%;
}
.price_total {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.header_brand {
  margin-left: 8px;
  color: #1250dc;
}
.header_brand:hover {
  color: #1250dc;
}
.title_brand{
  font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.name_detail {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin: 10px 0px;
}
.price_detail {
  font-weight: 600;
  font-size: 30px;
  line-height: 52px;
  color: #1250dc;
}

.brief_detail_wrapper {
  display: flex;
  align-items: center;
  padding: 8px 0px;
}

.brief_detail {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 205px;
  width: 205px;
  display: inline-block;
}

.des_detail {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.quantity_detail_wrapper {
  border: 1px solid #c1c8d1;
  border-radius: 20px;
  display: flex;
  justify-content: start;
}
.quantity_detail {
  border-right: 1px solid #c1c8d1;
  padding: 12px 14px;
  border-left: 1px solid #c1c8d1;
  margin: 0px -10px;
  width: 40px;
  display: flex;
  justify-content: center;
}
.quantity_icon_detail {
  cursor: pointer;
  padding: 12px;
}
.quantity_icon_detail_disabled {
  pointer-events: none;
  opacity: 0.3;
  padding: 12px;
}
.swiper-pagination {
  position: unset !important;
}

/*  attractive */
.attractive_img {
  width: 20px;
  height: 20px;
}
.attractive_header{
  font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #dc6803;
}
.attractive_content {
  font-size: 14px;
    line-height: 20px;
    color: #000;
}

/* promotion */
.promotion_wrapper {
  display: flex;
  width: 100%;
  border: 1px solid rgb(228, 232, 237);
  border-radius: 8px;
  margin-bottom: 35px;
}
.promotion_header_wrapper  {
  padding: 8px 16px;
 background-color: #fff3e1;
}
.promotion_header{
  font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  color: #f79009;
}

.promotion_img {
  width: 20px;
  height: 20px;
  color: #f79009;
}
.promotion_content_wrapper  {
  padding:  16px;
}
.promotion_content_img_wrapper {
  background-color: #eaeffa;
  padding: 8px;
  border-radius: 10px;
}
.promotion_content_img {
  width: 24px;
  height: 24px;
}

/* policies */
.policy_wrapper {
  margin-top: 16px;
  padding-top: 16px;
    border-top: 1px solid rgb(228, 232, 237);
}
.policy_img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.policy_main_header{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.policy_sub_header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* tab detail  */
.product_wrapper > div {
  width: 100%;
}
.product_detail_header {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin: 0px 50px;
  margin-top: 10px;
  /* background:#edf0f3; */
  letter-spacing: 0.005em;
  color: #020b27;
}
.product_detail_show {
  margin: 0px 50px;
  margin-top: 10px;
  cursor: pointer;
  letter-spacing: 0.005em;
  color: #020b27;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
.product_detail {
  margin: 0px 50px;
  height: 300px;
  overflow: hidden;
  width: 100%;
}
.product_detail.show {
  height: auto !important;
}

.product_detail > p > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.product_detail > p:has(img) {
  display: flex;
  justify-content: center;
}

.customSwiper_parent {
  position: relative;
}
.customSwiper_child {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 9;
}
.customSwiper_child > div {
  width: 100%;
  /* background-color: red; */
}
.title_product_relate{
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Thiết lập padding cho xs */
@media (max-width: 575.98px) {
  .wrapper_global {
    padding: 10px;

  }
}

/* Thiết lập padding cho sm */
@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapper_global {
    padding: 20px;
  }
}

/* Thiết lập padding cho md */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapper_global {
    padding: 30px;
  }
}

/* Thiết lập padding cho lg */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrapper_global {
    padding: 40px;
  }
}

/* Thiết lập padding cho xl */
@media (min-width: 1200px) {
  .wrapper_global {
    padding: 30px 100px;
  }

  .top_sale {
    background-color: #fcf3e9;
    width: 100%;
  }
  .product_background {
    background-color: #edf0f3;
  }
  .product_wrapper {
    background-color: #fff;
    border-radius: 20px;
  }

  /* list tìm kiếm liên quan */
  .wrapper_product {
    padding: 30px 70px;
  }
  .wrapper_product_content{
    padding: 0px 30px;
    background-color: #edf0f3;

  }
}
