.wrapper {
    background-color: #ff0100;
    color: #fff;
    font-size: 14px;
    padding: 8px;
    border-radius: 12px  0px;
    font-weight: 600;
    line-height: 18px;
    width: 100%;
    text-align: center;
}
