.wrapper {
  background-color: #edf0f3;
  border-radius: 10px;
}

.wrapper_content {
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 16px;
}

.wrapper_right {
  margin-left: 5px;
}

.wrapper_left {
  margin-right: 5px;
}


.wrapper_detail {
  padding: 16px 0px;
  border-bottom: 1px solid #e4e8ed;
}

.flex_center {
  justify-content: end;
  display: flex;
  align-items: center;
}

.flex_center>span {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: red;
  cursor: pointer;
}

/* image  */
.wrapper_img {
  box-shadow: 0 0 0 1px #e4e8ed;
  border-radius: 1px solid #e4e8ed;
  padding: 3px;
}

.product_name {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #020b27;
  flex: 1;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product_name::first-letter {
  text-transform: uppercase;;
}

.product_price_discount {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #1250dc;
  word-break: break-word;
  display: flex;
  justify-content: end;
}

.product_price_original {
  display: flex;
  justify-content: end;
  margin-left: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  word-break: break-word;
}

/* quantity */
.quantity_detail_wrapper {
  border: 1px solid #e4e8ed;
  border-radius: 20px;
  display: flex;
  justify-content: start;
}

.quantity_detail {
  border-right: 1px solid #e4e8ed;
  padding: 8px 14px;
  border-left: 1px solid #e4e8ed;
  margin: 0px -10px;
  width: 40px;
  display: flex;
  justify-content: center;
}

.quantity_icon_detail_disabled {
  pointer-events: none;
  opacity: 0.3;
  padding: 8px;
}

.quantity_icon_detail {
  cursor: pointer;
  padding: 8px;
}

.product_unit {
  border: 1px solid #e4e8ed;
  padding: 8px 18px;
  color: #334155;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 400;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  position: relative;
}

.product_unit_img {
  color: #1250dc;
}

.product_unit_img>svg {
  width: 20px;
  height: 20px;
}

.product_unit_child {
  display: none;
}

.product_unit:hover .product_unit_child {
  display: flex;
  justify-content: space-between;
  width: 200%;
  position: absolute;
  bottom: -55px;
  right: 0;
  background-color: #fff;
  padding: 16px 16px;
  border-radius: 10px;
  box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05), 0 6px 16px rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12);
    z-index: 99;
}

/* payment */

.payment_header {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4a4f63;
  margin-bottom: 10px;
}

.payment_prePayment {
  padding-top: 16px;
  border-top: 1px solid #e4e8ed;
}

.payment_prePayment_name {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #020b27;
}

.payment_prePayment_price {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1250dc;
  letter-spacing: 0.005em;
}

.payment_wrapper {
  border: 2px solid #f5f5f5;
  padding: 10px;
  margin-top: 20px;
}

.button_payment {
  margin-top: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  color: #fff;
  outline: none;
  border: none;
  background: linear-gradient(315deg, #1250dc 14.64%, #306de4 85.36%);
  border-radius: 42px;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
}

.button_payment.disable {
  background: #edf0f3;
  color: #728091;
  pointer-events: none;
}

/* final payment  */
.where_payment {
  background-color: #fff;
  cursor: pointer;
  padding: 4px 34px;
  border-radius: 10px;
  margin-left: 2px;
}

.where_payment.selected {
  background-color: #c2d0f6;
  color: #1250dc;
}

.final_payment_total_price {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
  color: #020b27;
}

.final_payment_original_price {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
  text-decoration-line: line-through;
  color: #728091;
  margin-right: 8px;
}

/* type payment */
.typePayment_header {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .0025em;
  color: '#4a4f63';
  flex: 1;
  word-break: break-word;
  margin-left: 12px;
}

.typePayment_error {
  color: #d92d20;
  margin-left: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}


/* promotion */
.promotion_wrapper {
  background-color: #eef0f3;
  border-radius: 10px;

  /* border: 1px solid rgb(228, 232, 237) !important; */

}

.promotion_header_wrapper {
  padding: 8px 16px;
  background-color: #fff3e1;
}

.promotion_header {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #f79009;
}

.promotion_img {
  width: 20px;
  height: 20px;
  color: #f79009;
}

.promotion_content_wrapper {
  /* border-right: 1px solid rgb(228, 232, 237);
  border-left: 1px solid rgb(228, 232, 237);
  border-bottom: 1px solid rgb(228, 232, 237); */
  padding: 6px 10px;
}

.promotion_content_wrapper>div {
  width: 100%;
}

.promotion_content_img_wrapper {
  background-color: #eef0f3;
  padding: 6px;
  padding-bottom: 0px;
  border-radius: 6px;
  margin-right: 6px;
  border: 1px solid #e4e8ee;
}

.promotion_content_img {
  width: 24px;
  height: 24px;
}

.cusPL108 {
  padding-left: 70px;
  margin-top: 20px;
}

.customPL16 {
  padding-left: 0px;
}

.button_back_cart {
  margin: 10px 0px;
}

.button_home {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #1250dc !important;
  cursor: pointer;
  display: block;
}

.button_home:hover {
  background-color: transparent !important;
}

.wrapper_location{
  display: block;
  border: 1px solid #c1c8d1;
  padding: 16px;
  border-radius: 20px;
  margin-bottom: 20px;
  max-height: 400px;
  overflow-y: auto;
}
.wrapper_location::-webkit-scrollbar {
  width: 3px; /* Đây là chiều rộng của thanh cuộn */
}

.wrapper_location::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của track */
}

.wrapper_location::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
  border-radius: 5px; /* Độ cong của thanh cuộn */
}

.location_map{
  display: flex;
  justify-content: start;
  color: #1250dc;
  font-weight: 600;
}
.location_map:hover{
  color: #1250dc;
}
.policy_footer_wrapper{
  padding-top: 30px;
}



@media (max-width: 575.98px) {
  .policy_footer_wrapper{
    padding: 16px 0px;
  }
  .customPL16 {
    padding-left: 16px;
  }
  .product_name.buy {
    margin-left: 0px;
  }

  .flex_center_price {
    justify-content: start;
    display: flex;
    align-items: center;
  }

  .customColumn {
    flex-direction: column;
    margin-bottom: 10px !important;
  }

  .cusPL108 {
    padding-left: 0;
  }

  .mobile_total_price {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-right: 0px !important;
    z-index: 99;
  }

  .button_payment {
    margin-bottom: 20px;
  }

  .wrapper_content_mobile_preBuy {
    background-color: #fff;
    border-radius: 10px;
    padding: 8px 16px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: rgba(0, 39, 102, 0.3) 0px 0px 16px -4px, rgba(0, 39, 102, 0.3) 0px 0px 6px -2px;
  }

  .flex_start {
    justify-content: start;
    display: flex;
  }

  .payment_header {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4a4f63;
    display: none;

  }

  .payment_header.active {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4a4f63;
    display: flex;
  }

  .wrapper_global {
    width: 100%;
  }

  .wrapper_right {
    margin-left: 0px;
  }

  .wrapper_left {
    margin-right: 0px;
  }

  .button_back_cart {
    margin-top: 20px;
  }
  .breadcrumb_wrapper{
    padding-left: 16px;
  }


}


/* Thiết lập padding cho sm */
@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapper_global {
    background-color: #edf0f3;
    padding: 20px;
  }
}

/* Thiết lập padding cho md */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapper_global {
    background-color: #edf0f3;
    padding: 30px;
  }
}

/* Thiết lập padding cho lg */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrapper_global {
    background-color: #edf0f3;
    padding: 40px;
  }
}

/* Thiết lập padding cho xl */
@media (min-width: 1200px) {
  .wrapper_global {
    background-color: #edf0f3;
    padding: 12px 0px 30px 0px;
    max-width: 1236px;
    margin: 0 auto;
  }
  .location_map{
    justify-content: end;
  }
}