
.text_center {
  text-align: center;
}

.items>a {
  padding: 0 5px;
}
.global_wrapper_direction{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.text_heading {
  color: #657384;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.item_optional{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.text_item {
  font-size: 14px;
  line-height: 20px;
  color: #1250dc;
  margin: 5px 0px;
}
.text_item_optional{
  color: #4a4f63;
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
}
.text_item_optional:hover{
  color: #4a4f63;
}
.optional_item {
  color: #1250dc;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.optional_item:hover{
  color: #1250dc;
}

.text_item:hover {
  color: #1250dc;
}
.payment_list{
    height: 35px;
    width: 45px;
    border: 1px solid #e6e7eb;
    padding: 3px;
    margin-right: 4px;
    margin-top: 5px;
    border-radius: 6px;
}
.global_wrapper_direction{
  background-color:#2267de;
  padding: 16px 0px;
}
.direction_left_text{
  font-size: 24px;
        line-height: 36px;
        margin-bottom: 0;
        font-weight: 500;
        color: #fff;
}
.location_map_wrapper{
  background-color: #eaeffa;
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
}
.location_map{
  color: #1250dc;
}
.location_map:hover{
  color: #1250dc;
}

/* mobile */
@media (max-width: 575.98px) {
  .global_wrapper_direction{
    margin-bottom: 0px !important;
    display: flex;
    justify-content: center;
  }
  .wrapper_mobile{
    border-bottom: 1px solid #e4e8ed;
    padding-bottom: 16px;
  }
  .text_heading_mobile {
    padding-top: 16px;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #4a4f63;
  }

  .global_wrapper {
    padding: 16px;
    margin-bottom: 160px;
  }

  .items {
    display: flex;
    justify-content: center;
  }

  .text_item_mobile {
    font-size: 14px;
    line-height: 20px;
    color: rgb(101, 115, 132);
    margin: 5px 0px;
  }

  .text_item_mobile:hover {
    color: rgb(101, 115, 132);
  }

  .dropdown_item {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s linear;
  }
  .dropdown_item_social.active > a {
    margin-left: 8px;
    border-radius: 10px;
  }
  .dropdown_item.active {
    display: flex;
  }
  .item_optional{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .optional_item{
    font-size: 13px;
    font-weight: 600;
  }

}

/* Thiết lập padding cho sm */
@media (min-width: 576px) and (max-width: 767.98px) {
  .global_wrapper {
    padding: 20px;
  }
}

/* Thiết lập padding cho md */
@media (min-width: 768px) and (max-width: 991.98px) {
  .global_wrapper {
    padding: 30px;
  }
}

/* Thiết lập padding cho lg */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .global_wrapper {
    padding: 40px;
  }
}

/* Thiết lập padding cho xl */
@media (min-width: 1200px) {
  .global_wrapper {
    max-width: 1236px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}