/* responsive */
.menu_mobile_wrapper {
  z-index: 9998;
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 20px;
  padding: 16px;
  overflow-y: auto;
  inset: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.45);
  pointer-events: auto;
}

.menu_mobile {
  z-index: 9999;
  width: 70%;
  height: 90vh;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 0;
  color: #000;
  top: 0;
  bottom: 0;
  font-size: 20px;
  padding: 16px;
  overflow-y: auto;
}



.menu_mobile_child {
  color: #000;
  text-decoration: none;
  color: #000;

  transition: 0.2s linear;
}

/* With logout */
.profile_detail {
  position: relative;
}

.profile_detail:hover .profile_detail_child {
  display: block;
  width: 200px;
  color: red;
}

.profile_detail_child {
  width: 150%;
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 200%;
  border-radius: 4px;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
}

.profile_detail_child>div {
  padding: 16px;
  border-radius: 4px;
}

.profile_detail_child>div:hover {
  background-color: #fff4fc;
  width: 200px;
}

/*  */
.wrapper_try {
  cursor: pointer;
  font-size: 25px;
  align-items: center;
  /* padding: 40px 100px; */
  background-color: #256cdf;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

.wrapper_try_tag {
  position: relative;
  height: 40px;
}

.wrapper_try_brand {
  font-size: 25px;
  align-items: center;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

.wrapper_try_brand>div {
  width: 100%;
  height: 10px;
}

.wrapper_try_tag_display {
  position: absolute;
  top: 0;
  /* width: 100%; */
}

.header_text {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.header_text:hover {
  color: #fff;
}

.button_header {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.button_header>div {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.button_header_text {
  color: #fff;
  display: flex;
  ;
}

.button_header_text>a {
  display: flex;
}


.button_header_text:hover {
  color: #fff;
}

.button_icon {
  font-size: 20px;
  color: #fff;
  margin-right: 4px;
}

.button_icon_mobile {
  font-size: 22px;
}

.button_background_mobile {
  background-color: #3f85ea;
  padding: 14px;
  border-radius: 20px;
}

.button_background {
  background-color: #1250dc;
  padding: 14px;
  border-radius: 20px;
}

.header_search_input {
  font-size: 16px;
  border-radius: 30px;
  padding: 14px;
  position: relative;
}

.header_search_input:hover,
.header_search_input:focus {
  background-color: #fff;
  border-color: #d9d9d9;
}



/* không là element con nên phải dùng + */
.header_search_input:focus+.header_search_icon_search {
  background-color: #1d5adf;
  color: #fff;
}

.header_search_input:target+.header_search_icon_search {
  background-color: #1d5adf;
  color: #fff;
}

.header_search_result {
  display: block;
  overflow-y: auto;
  max-height: 450px;
  position: absolute;
  top: 60px;
  right: 0px;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
  z-index: 99999;
  border-radius: 20px;
  box-shadow: 1px 0 3px rgba(155, 155, 155, 0.6);
  /* Tùy chỉnh thanh cuộn cho Chrome và Safari */
  scrollbar-width: thin;
  /* Cho Firefox */
  scrollbar-color: rgba(155, 155, 155, 0.6) transparent;
  /* Cho Firefox */
}

/* .header_search_input:focus + .header_search_result,
.header_search_input:target + .header_search_result {
 
} */

.header_search_items {
  color: #000;
  display: block;
  padding: 16px;
  border-bottom: 1px solid #e4e8ed;
}

.header_search_items:hover {
  border-radius: 5px;
  color: #000;
  background-color: #e4e8ed;
}

.header_search_items_img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 10px !important;
}

.header_search_items_img+div {
  border-radius: 10px !important;
}

.header_search_icon_search {
  padding: 10px;
  border-radius: 50%;
  background-color: #c2d0f6;
  color: #4f7be5;
  display: block;
  position: absolute;
  right: 1%;
  bottom: 50%;
  transform: translateY(50%);
  cursor: pointer;
  font-size: 20px;
}

.header_search_icon_delete {
  border-radius: 50%;
  background-color: #fff;
  color: #4a4f63;
  display: flex;
  position: absolute;
  right: 8%;
  bottom: 50%;
  transform: translateY(50%);
  cursor: pointer;
  font-size: 21px;
}

.drawer_mobile .ant-drawer-content {
  z-index: 99999999 !important;
}

/* search for tag */
.tag_wrapper {}

.tag_item {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 0px 10px;
  margin-top: 10px;
}

.tag_item:hover {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 0px 10px;
  margin-top: 10px;
}

.category_item {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0px 10px;
  margin-top: 10px;
}

/* menu sub */
.menu_sub {
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* danh sách search cuối cùng nằm bên trái */
.menu_sub>a:last-child .brand_list {
  position: absolute;
  right: 0;
}

.brand_item {
  display: flex;
  color: #020b27;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.brand_list {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 999;
  color: #020b27;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 12px 11px;
  border-radius: 0px 0px 10px 10px;
  background-color: #fff;
  padding: 10px 0px;
}

.brand_list::after {
  position: absolute;
  content: "";
  display: block;
  top: -20px;
  width: 100%;
  height: 20px;
}

.brand_list_item {
  background-color: #fff;
  width: 180px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin: 0px 10px;
  color: #020b27;

}

.brand_list_item:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.brand_list_item:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.brand_list_item:hover {
  background-color: #eaeffa;
  font-weight: bold;
}

.customFA {
  display: flex !important;
  align-items: center !important;
}

/* Thiết lập padding cho xs */
@media (max-width: 575.98px) {
  .brand_item>a {
    color: #020b27 !important;
    position: relative;
    margin-bottom: 12px;

  }

  .brand_item_icon {
    position: absolute;
    right: 0;
  }

  .brand_list {
    display: flex;
    position: initial;  
  }

  .brand_list_item {
    width: 100%;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #020b27;
    margin: 0px;
    background-color: #eaeffa;
  }

  .wrapper_try_tag_display {
    display: none;
  }

  .wrapper_try_tag {
    position: relative;
    height: 0px;
  }

  .wrapper_try {
    padding: 8px 16px;
    position: fixed;
  }

  .button_background_mobile {
    background-color: none;
  }

  .wrapper_try_brand {
    display: none;
  }

  .header_search_input {
    font-size: 13px;
    border-radius: 30px;
    padding: 6px;
    position: relative;
    font-weight: 500;
    color: #525e6e;
  }

  .header_search_icon_delete {
    right: 8%;
    font-size: 17px;
  }

  .header_search_icon_search {
    padding: 4px;
    font-size: 14px;
  }

  .header_search_result {
    top: 35px;
  }

  .brand_item {
    padding: 12px 0px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 0px;
  }

  .brand_item>a {
    color: #020b27 !important;
  }

  .wrapper_brand_item {
    display: flex;
    justify-content: space-between;
  }

  .contactNowMobile_wrapper {
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 70%;
    padding: 16px;
  }

  .contactNowMobile {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    margin-top: 12px;
    background: #eaeffa;
    border-radius: 20px;
  }

  .contactNowMobile_phone_icon {
    font-size: 14px;
    color: #1250dc;
  }

  .contactNowMobile_phone_text {
    font-size: 14px;
    color: #1250dc;
    font-weight: 600;
  }

  .auth_wrapper_mobile {
    background: #3a73e4;
    margin: 0px -16px;
    padding: 8px 16px;
  }

  .auth_wrapper_mobile_text {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
  }

  .add_to_cart {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    padding: 12px;
    width: 49%;
    background-color: #1958de;
    color: #fff;
    border-radius: 30px;
    font-weight: 500;
  }

  .buy_now {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    padding: 12px;
    width: 49%;
    background-color: #eaeffa;
    color: #1958de;
    border-radius: 30px;
    font-weight: 500;
  }

}

/* Thiết lập cho mobile */
@media (max-width: 575px) {
  .wrapper_try_tag {
    display: none;
  }
}

/* Thiết lập padding cho sm */
@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapper_try {
    padding: 20px;
  }

}

/* Thiết lập padding cho md */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapper_try {
    padding: 30px;
  }
}

/* Thiết lập padding cho lg */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrapper_try {
    padding: 40px;
  }
}

/* Thiết lập padding cho xl */
@media (min-width: 1200px) {
  .wrapper_try {
    padding-top: 20px;
    max-width: 1236px;
  }

  .wrapper_try_brand {
    padding: 10px 0px 20px 0px;
    max-width: 1236px;
  }
}